.topbar {
    height: 65px;
    width: 100%;
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;

    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 100;
}

.topbar-left h3 {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    color: #333;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topbar-user {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.topbar-logout {
    display: flex;
    align-items: center;
    gap: 7px;

    background: transparent;
    border: none;

    color: #ce4589;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    padding: 8px 12px;
    border-radius: 6px;

    transition: 0.3s;
}

.topbar-logout:hover {
    background: #fff0f6;
    color: #e965a2;
}